---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      as="font"
      crossorigin="anonymous"
      href="/assets/fonts/archivo.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link href="https://www.googletagmanager.com/" rel="dns-prefetch" />
    <link
      as="script"
      href="https://www.googletagmanager.com/gtag/js?id=G-0HGP6VFVJ3"
      rel="preload"
    />

    <title>{{site.title}}</title>
    <meta content="{{site.description}}" name="description" />

    <meta content="website" property="og:type" />
    <meta content="{{site.title}}" property="og:title" />
    <meta content="{{site.description}}" property="og:description" />
    <meta content="{{site.url}}" property="og:url" />
    <meta content="/assets/images/logo.png" property="og:image" />

    <meta content="summary" name="twitter:card" />
    <meta content="{{site.title}}" name="twitter:title" />
    <meta content="{{site.description}}" name="twitter:description" />
    <meta content="/assets/images/logo.png" name="twitter:image" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/assets/images/logo.svg" rel="icon" type="image/svg+xml" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="{{site.url}}" rel="canonical" />
  </head>

  <body>
    <header>
      <img
        alt="Local-First Web Development Logo"
        src="/assets/images/logo.svg"
      />
      <h1>
        Local-First
        <span>Web Development</span>
      </h1>
    </header>
    <summary>
      So, you want to build an app that has its data co-located with its UI?
      That works offline? That synchronizes between clients? And that lets its
      users own their data?
      <b>Welcome to the world of local-first web&nbsp;development.</b>
    </summary>
    <aside>
      <a href="https://www.youtube.com/watch?v=TH-78-I6Eh0" target="_blank"
        ><img class="feature" src="/assets/images/meetup2.png"
      /></a>
      Catch up on our
      <a href="https://www.youtube.com/watch?v=TH-78-I6Eh0" target="_blank"
        >most recent meetup</a
      >,<br />and join our
      <a href="https://discord.gg/ZRrwZxn4rW" target="_blank"
        ><img class="discord" src="/assets/images/discord.svg"
      /></a>
      for upcoming events and more updates.
    </aside>
    <main>
      {%for group in site.data.content%}
      <h2><em>{{group.index}}.</em> {{group.title}}</h2>
      {%for section in group.sections%}
      <section class="{{section.class}}">
        <h3>{{section.title}}</h3>
        <ul>
          {%for item in section.items%}
          <li>
            <a href="{{item.url}}" target="_blank">
              <img src="{{item.icon}}" />
              {{item.title}}
            </a>
            <small>{{item.author}}</small>
          </li>
          {%endfor%}
        </ul>
      </section>
      {%endfor%} {%endfor%}
      <b>
        <a
          href="https://github.com/localfirstweb/localfirstweb.dev/tree/main/_data/content.json"
          >✍️ Edit the lists</a
        >
        or
        <a
          href="https://github.com/localfirstweb/localfirstweb.dev/tree/main/assets/css/main.scss"
          >🎨 redesign the page!</a
        >
      </b>
    </main>
    <footer>
      <img
        alt="Local-First Web Development Logo"
        src="/assets/images/logo.svg"
      />
      <h1>
        Local-First
        <span>Web Development</span>
      </h1>
    </footer>
  </body>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-0HGP6VFVJ3"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function g() {
      dataLayer.push(arguments);
    }
    g('js', new Date());
    g('config', 'G-0HGP6VFVJ3');
  </script>
</html>
