---
layout: compress
---

{% include header.html %}
<summary>
  So, you want to build an app that has its data co-located with its UI?
  That works offline? That synchronizes between clients? And that lets its
  users own their data?
  <b>Welcome to the world of local-first web&nbsp;development.</b>
</summary>
<aside>
  <div class="heading">
    Join our
    <a href="https://discord.gg/lfwdev" target="_blank"><img class="discord"
      src="/assets/images/discord.svg" /></a>
    community and attend
    <a href="https://discord.gg/FSgZSRv4?event=1115606840332517426"
    target="_blank">the next meetup</a>
    </a>
  </div>
  <a href="https://discord.gg/FSgZSRv4?event=1115606840332517426"
    target="_blank"><img class="feature" src="/assets/images/meetup5.png" />
  </a>
  Tuesday June 27, 2023 @ 12PM EST
  <br/>
  <a href="/assets/LoFi_Meetup.ics" download><img class="discord" src="/assets/images/June27.png" /></a>
  <a target="_blank"
    href="https://youtube.com/live/Z0nzsxhoToo?feature=share">
    <img class="discord"
      src="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg"></a>
  <a target="_blank"
    href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=MnFhZzl0OTNlYWdzaXNpbm9mM29kczAxZW4gZjgwNGE4ZjU3MGNiZThiOWNmZDk1MTg3MzJmMjcyM2E1MzcxMWEyMTc1OTYyZTkwZDU4NTgxN2MzYWNlMjllM0Bn&amp;tmsrc=f804a8f570cbe8b9cfd9518732f2723a53711a2175962e90d585817c3ace29e3%40group.calendar.google.com">
    <img class="discord"
      src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Google_Calendar_icon_%282020%29.svg"></a>
  <br/>
  <a href="https://www.youtube.com/playlist?list=PLTbD2QA-VMnXFsLbuPGz1H-Najv9MD2-H"
    target="_blank">Catch up on the previous talks</a>
</aside>
<main>
  {%for group in site.data.content%}
  <h2><em>{{group.index}}.</em> {{group.title}}</h2>
  {%for section in group.sections%}
  <section class="{{section.class}}">
    <h3>{{section.title}}</h3>
    <ul>
      {%for item in section.items%}
      <li>
        <a href="{{item.url}}" target="_blank">
          <img src="{{item.icon}}" />
          {{item.title}}
        </a>
        <small>{{item.author}}</small>
      </li>
      {%endfor%}
    </ul>
  </section>
  {%endfor%} {%endfor%}
</main>
<aside>
  <p>
    We started a blog! Read our origin story in <a
    href='/blog/2023-05-29-i-wrote-a-static-web-page'>the first post</a>.
  </p>
  <p>Something missing? ✍️ <a
      href="https://github.com/localfirstweb/localfirstweb.dev/tree/main/_data/content.json"
      >Edit the lists</a>
    or
    🎨 <a
      href="https://github.com/localfirstweb/localfirstweb.dev/tree/main/assets/css/main.scss"
      >redesign the page!</a>
  </p>
</aside>
{% include footer.html %}


