<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      as="font"
      crossorigin="anonymous"
      href="/assets/fonts/archivo.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link href="https://www.googletagmanager.com/" rel="dns-prefetch" />
    <link
      as="script"
      href="https://www.googletagmanager.com/gtag/js?id=G-0HGP6VFVJ3"
      rel="preload"
    />

    <title>{%if page.title%}{{page.title}} | {%endif%}{{site.title}}</title>
    <meta
      content="{%if page.description%}{{page.description}}{%else%}{{site.description}}{%endif%}"
      name="description"
    />

    <meta content="website" property="og:type" />
    <meta
      content="{%if page.title%}{{page.title}}{%else%}{{site.title}}{%endif%}"
      property="og:title"
    />
    <meta
      content="{%if page.description%}{{page.description}}{%else%}{{site.description}}{%endif%}"
      property="og:description"
    />
    <meta content="{{site.url}}{{page.url}}" property="og:url" />
    <meta content="{{site.url}}/assets/images/logo.png" property="og:image" />

    <meta content="summary" name="twitter:card" />
    <meta
      content="{%if page.title%}{{page.title}}{%else%}{{site.title}}{%endif%}"
      name="twitter:title"
    />
    <meta
      content="{%if page.description%}{{page.description}}{%else%}{{site.description}}{%endif%}"
      name="twitter:description"
    />
    <meta content="{{site.url}}/assets/images/logo.png" name="twitter:image" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/assets/images/logo.svg" rel="icon" type="image/svg+xml" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="{{site.url}}{{page.url}}" rel="canonical" />
  </head>

  <body>
    <header>
      <a href="/"
        ><img alt="Local-First Software Logo" src="/assets/images/logo.svg" />
        <h1>Local-first Software</h1></a
      >
    </header>
  </body>
</html>
