<aside>
  {% assign info = site.data.heading %} {% assign meetup = site.data.heading.meetup %}
  <div class="heading">
    Join our
    <a class="noUnderline" href="{{info.lofi_discord}}" target="_blank">
      <img class="discord" src="/assets/images/discord.svg" />
    </a>
    community and attend the
    <a href="{{meetup.discord_link}}" target="_blank">next event</a>
  </div>
  {% if meetup.graphic != '' %}
  <a href="{{meetup.discord_link}}" target="_blank">
    <img class="feature" src="{{meetup.graphic}}" />
  </a>

  <a class="icons" href="{{meetup.calendar_ics}}" download> {% include calendar_icon.html%} </a>
  <a class="icons" target="_blank" href="{{meetup.youtube_link}}">
    <img class="icons" src="{{info.youtube_icon}}" />
  </a>
  <a class="icons" target="_blank" href="{{meetup.gcal_link}}">
    <img class="icons" src="{{info.gcal_icon}}" />
  </a>
  <br />
  <br />
    {% endif %}
  {{meetup.date}}

  <br />
  <a href="{{info.lofi_playlist}}" target="_blank">Catch up on the previous talks</a>
  {% if meetup.previous_graphic != '' %}
  <a href="{{meetup.recording_link}}" target="_blank">
    <img class="feature" src="{{meetup.previous_graphic}}" />
  </a>
  {% endif %}
</aside>
