---
---

@font-face {
  font-family: Kodchasan;
  font-weight: 300;
  src: url(/assets/fonts/kodchasan.woff2) format("woff2");
}

@font-face {
  font-family: Kodchasan;
  font-weight: 700;
  src: url(/assets/fonts/kodchasan_bold.woff2) format("woff2");
}

body {
  background: #000;
  color: #fff;
  font-family: Kodchasan;
  margin: 0;
}

header {
  img {
    display: block;
    height: 8rem;
    margin: 0 auto -1rem;
    width: 8rem;
  }
  h1 {
    margin: 0;
    font-size: 1.75rem;
    line-height: 2rem;
    span {
      display: block;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1rem;
    }
  }
}

header,
summary {
  border-bottom: 1px solid #666;
  padding-bottom: 2rem;
  margin: 0 auto 2rem;
  max-width: 48rem;
  text-align: center;
}

main {
  column-gap: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  row-gap: 3rem;
}

@media (min-width: 48rem) {
  main {
    grid-template-columns: 1fr 1fr;
    max-width: 48rem;
  }
}
